@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins&family=Questrial&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground !overflow-x-hidden;
  }
}

body.modal {
  @apply !overflow-hidden w-screen h-screen;
}

html {
  @apply scroll-smooth;
}

p {
  @apply text-muted-foreground;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 1rem;
}

.hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

input[type="checkbox"],
input[type="radio"] {
  @apply !w-5 !h-5 !rounded !border !border-border !shadow-sm !bg-transparent  disabled:cursor-not-allowed disabled:opacity-50;
}

input[type="checkbox"] {
  @apply form-checkbox;
}

input[type="radio"] {
  @apply form-radio;
}

input[type="radio"] {
  @apply !rounded-full;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  @apply !shadow-brand/30 !shadow-md !bg-brand hover:bg-brand !border-brand !ring-brand active:!bg-brand text-brand !ring-offset-background focus:!ring-offset-background;
}

.form-checkbox:focus,
.form-radio:focus {
  @apply focus:!ring-offset-background !ring-brand;
}

.heading {
  @apply relative before:absolute before:w-3 before:h-3 before:rounded-full before:bg-gray-400 before:dark:bg-gray-700 before:top-1/2 before:-translate-y-1/2 before:-left-5;
}

.privacy span {
  @apply text-gray-600 dark:text-gray-200;
}
.privacy ol {
  @apply list-decimal;
}
.privacy li {
  @apply text-muted-foreground;
}

/* Back to top button */
.back-to-top-btn {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.back-to-top-btn.active {
  opacity: 1;
  visibility: visible;
}

/* Post Content */
.post-content h1,
h2,
h3 {
  @apply font-bold mb-3;
}

.post-content h1 {
  @apply text-3xl;
}

.post-content h2 {
  @apply text-2xl;
}

.post-content h3 {
  @apply text-xl;
}

.post-content ul {
  @apply list-disc !ml-4;
}

.post-content ul li {
  @apply !ml-4 my-1;
}

.post-content ol {
  @apply list-decimal !ml-4;
}

.post-content ol li {
  @apply !ml-4 my-1;
}

.post-content code {
  @apply rounded-sm dark:!bg-gray-900 px-2 border border-border;
}

.post-content blockquote {
  @apply pl-3 border-l-4 border-l-border italic ml-4 my-4;
}
.post-content a {
  @apply underline !text-brand;
}

.post-content .ql-syntax {
  @apply bg-gray-900 my-4 rounded-lg p-4 text-white w-full overflow-x-auto;
}

.post-content .ql-syntax span {
  font-family: "Fira Code" !important;
}

.post-content p,
.post-content span {
  @apply !break-words;
}

.post-content img,
.post-content iframe {
  @apply w-full h-auto sm:h-[400px] object-cover my-2 md:my-4;
}
