@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Questrial&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

body {
  margin: 0;
  background-color: #181818;
  color: #f2f2f2;
}

/* --------------------------------------------------General Styles-------------------------------------------------------- */
.gradient-bg {
  @apply fixed -z-10 top-1/2 left-1/2 flex place-items-center before:absolute before:h-[300px] before:w-[480px] before:-translate-x-1/2 before:rounded-full before:bg-gradient-radial  before:to-transparent before:blur-2xl before:content-[''] after:absolute after:-z-20 after:h-[180px] after:w-[240px] after:translate-x-1/3 after:bg-gradient-conic  after:blur-2xl after:content-[''] before:from-transparent before:dark:to-blue-700 before:opacity-10 after:from-sky-900 after:via-[#0141ff] after:opacity-40 before:lg:h-[360px];
}

.bg-image {
  @apply fixed top-0 left-0 !bg-no-repeat !bg-right-top w-screen h-screen -z-10 !bg-fixed;
  background-size: 800px !important;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 1rem;
}

svg {
  cursor: pointer;
}

.iconbox {
  @apply grid w-20 h-20 rounded-full place-items-center;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.text-gradient {
  background: linear-gradient(to right, #0bab7c 30%, #f9c51b, #f9c51b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-box {
  --border-width: 3px;
  --border-radius: 5px;
  background: linear-gradient(to right, #0bab7c, #f9c51b);
  padding: 0.4rem 2rem;
  position: relative;
  border-radius: var(--border-radius);
  z-index: 1;
}

.gradient-box::before {
  content: "";
  display: block;
  height: calc(100% - calc(var(--border-width) * 2));
  width: calc(100% - calc(var(--border-width) * 2));
  background: #18181b;
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  border-radius: var(--border-radius);
  z-index: -1;
}

/* Tooltip */

.tooltip-enter {
  opacity: 0;
}

.tooltip-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.tooltip-exit {
  opacity: 1;
}

.tooltip-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

@keyframes scroll {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

.animate {
  animation: scroll 15s linear infinite;
}

pre {
  @apply !bg-[#1E1E1E]/80 backdrop-blur-sm rounded-2xl border-2 border-neutral-700 shadow-lg;
  font-family: "Fira Code" !important;
}
pre span {
  font-family: "Fira Code" !important;
  opacity: 100 !important;
}
